# Create a .env.production (deployed url) and a .env.development (local host)
# Local/web url
REACT_APP_BASE_URL=

# Local/web api server url
REACT_APP_API_BASE_URL=

# Client credentials id
REACT_APP_GOOGLE_CLIENT_ID=

# Google client secret
REACT_APP_GOOGLE_CLIENT_SECRET=