body {
    overflow-x: hidden;
}

.App {
    background-color: lavender;
    min-height: 100vh;
    padding-bottom: 100px;
}

.form-container {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.text-to-right {
    direction: rtl;
    text-align: right;
}

.navbar-brand.brand {
    color: white;
    padding: 0;
}

.navbar-nav.nav-link.link {
    color: white !important;
}

.navItem {
    color: white !important;
}

.nav-link {
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-right {
    display: flex;
    flex-direction: row;
}

.main-container {
    margin-top: 20px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.left-container {
    border: 1px red solid;
}

.right-container {
    border: 1px blue solid;
}

img.netdex-logo {
    height: 50px;
    padding-right: 5px;
}

.contact-modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.contact-modal-notes {
    min-width: 50%;
    margin-left: 1rem;
}

.contact-modal-details {
    min-width: 50%;
}

.contact-note {
    padding: 1rem;
}
